<%- include partials_pengelola/header.ejs %>
<%- include partials_pengelola/sidebar.ejs %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="callout callout-info">
            <h3>Welcome To Pengelola Wisata Dashboard</h3>
        </div>
    </section>
</div>

<%- include partials_pengelola/footer.ejs %>